<main class="MenuPage">
  <div class="ChangeStadard-menu">
    <label class= "ActiveMenu-label">Choose Standard Menu:</label>
    <%= form_with(url: "/menus/1",method: "put") do %>
      <%= select_tag "Standard",
        options_for_select(Menu.all.order(:Standard).reverse.collect {|menu| menu.name}),
        include_blank: false,
        :onchange => "this.form.submit()"
      %>
    <% end %>
  </div >
</main>
