<main class="MainPage">

  <div class="Clerk-home">
    <%= submit_tag "View Pending Orders",class: "Pending-orders",onclick:"location.href='/orders'"%>
    <%= submit_tag "Add New Order", class: "Clerk-order",onclick:"location.href='/menu_items'"%>
  </div>

</main>
