<section class="Access-error">
  <h1 class="Error-title"> You don't have access rights </h1>
  <img class="Error-image" src="/Access.jpg">
  <h1 class="Error-message"> Try contacting praveen or pooji for admin rights </h1>
</section>
