<main class="MenuPage">
  <p>click the link for
    <%= link_to "Menus editing", menus_path%>
  </p>

  <p>click the link to
    <%= link_to "view pending oders", orders_path %>
  </p>

  <p>click the link to
    <%= link_to "View the users", users_info_path %>
  </p>


  <p>click the link to
    <%= link_to "Add the clerk", users_add_clerk_page_path %>
  </p>

</main>
