<main class="MenuPage">
  <p>To edit menu
    <%= link_to "click here", menus_path%>
  </p>

  <p>View pending orders
    <%= link_to "click here", orders_path %>
  </p>

  <p>All the users
    <%= link_to "click here", users_info_path %>
  </p>


  <p>Add Users
    <%= link_to "click here", users_add_user_page_path %>
  </p>

</main>
