<main class="MenuPage">
  <section class="Menu-items">
     <ul>
     <p class=Delivery-info> Not Delivered orders</p>
      <% @not_delivered_orders.all.each do |order| %>
        <li>
          <%= form_with(url: "/orders/#{order.id}", method: "PUT") do %>
            <%= order.id%>
            <%= submit_tag "Mark as delivered", class: "AddMenuItem-button"%>
          <% end %>
        </li>
      <% end %>
    </ul>
  </section>
</main>
