.Home-title {
  font-size: 64px;
  color: black;
  margin-top: 60px;
  margin-bottom: 30px;
  font-weight: 600;
  font-style: italic;
}

.Home-authenticate {
  font-size: 16px;
  margin-top: 20px;
  font-size: 32px;
}

.Home-image {
  width: 600px;
  height: 300px;
}


.UserHeader {
  padding: 10px;
  background-color: lightgray;
  font-size: 14px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.Flash-error {
  color: darkred;
  margin-bottom: 20px;
  font-size: 16px;
}

.Flash-notice {
  margin: 0 auto;
  font-size: 24px;
  text-align: center;
}
