.Menu-body {
  max-width: 600px;
 margin: 0 auto;
}

.AddOrder-button{
  font-size:14px;
  color:#FFFFFF ;
  background-color:#48BB78 ;
  border:1px solid transparent;
  padding:6px 22px;
  border-radius:4px;
  margin-top: 10px;
}

.Cart-title {
  font-weight: 600;
  font-size: 32px;
  color: rgb(26, 23, 23);
  margin-bottom: 20px;
}

.Menu-item:hover{
  background-color: #F1EDF7;
}

tr:hover {
  background-color: #F1EDF7;
}

tr:hover .MenuItem-delete {
  visibility: visible;
}

.Menu-item:hover .MenuItem-delete {
  visibility: visible;
}

.MenuItem-edit {
  visibility: hidden;
  margin-left: 20px;
}

.Menu-item:hover .MenuItem-edit {
  visibility: visible;
}

.MenuItem-delete >img{
  width:16px;
}

.MenuItem-delete {
  visibility: hidden;
  margin-left: 8px;
  height: 24px;
}

.PlaceOrder{

  height:32px;

  margin-bottom: 24px;
  margin-left:0px;
}


.MenuPage {
  margin-top: 60px;
}

.MenuPage-title {
  font-weight: 600;
  font-size: 32px;
  color: rgb(26, 23, 23);
  margin-bottom: 0px;
}

.Menu-item {
  display: flex;
  margin-bottom: 10px;
}

.MenuItem-name {
  margin-left: 10px;
  font-size: 24px;
  width: 200px;
}

.MenuItem-descHead {
  margin-left: 30px;
  font-size: 32px;
  width: 150px;
  font-weight: 500;
  font-style: oblique;
  color:rgb(208, 211, 16);
}

.MenuItem-desc {
  width: 150px;
  margin-left: 30px;
}


.MenuItem-price {

  font-size: 24px;
  width: 100px;
}

.MenuItem-priceHead {
  font-size: 32px;
  font-weight: 500;
  font-style: italic;
  width: 100px;
  color:rgb(208, 211, 16);
}
.MenuItem-quantityHead {
  font-size: 32px;
  margin-left: 20px;
  font-weight: 500;
  font-style: italic;
  width: 100px;
  color:rgb(208, 211, 16);
}

.MenuItem-nameHead {
  font-size: 32px;
  font-weight: 500;
  width: 200px;
  font-style: oblique;
  color:rgb(208, 211, 16);

}

.Table {
  width: 100%;
}


.MenuItem-quantity {
  margin-left: 20px;
  font-size: 24px;
  width: 50px;
}

.Submit-Button{
  margin-left: 10px;
}
.Menu-items {
  margin-top: 40px;
}

.Menu-itemsTotal
{
  margin-top: 20px;
  display: flex;
  margin-bottom: 20px;
}

.Cart-total {
  font-size: 24px;
  font-style: italic;
  font-weight: 800;
}

.Cart-totalValue {
  font-size: 24px;
  font-style: italic;
  font-weight: 800;
  color: goldenrod;
  margin-left: 60px;
}

.Walk-in {
  color: darkgreen;
  margin: 0 auto;
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.Carts {
  display: flex;
  margin-top: 60px;
}

.MenuItems-cart {
  margin-left: 150px;
  height: 30px;
}
.Walk-in {
color: darkgreen;
  margin: 0 auto;
  font-size: 24px;
  text-align: center;color: darkgreen;
  margin: 0 auto;
  font-size: 24px;
  text-align: center;
}
