.MenuPage {
  margin-top: 60px;
}

.Menu-type:hover {
  background-color: #F1EDF7;
}

.Menu-Text{
  font-weight: 600;
  font-style: italic;
  color: black;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
}

.Menu-type:hover .Menu-edit {
  visibility: visible;
}
.Menu-type:hover .MenuItem-delete {
  visibility: visible;
}

.MenuItem-delete {
  visibility: hidden;
  margin-left: 10px;
}

.Menu-edit {
  visibility: hidden;
  margin-left: 10px;

}

.MenuPage-title {
  font-weight: 550;
  font-style: italic;
  color: black;
  margin-bottom: 60px;
  font-size: 30px;
}

.Menu-type {
  display: flex;
  margin-bottom: 10px;
}

.Menu-id {
  margin-right: 10px;
  font-size: 16px;
}
.Menu-name {
  border: none;
  background-color: inherit;
  font-size: 16px;
}
.ChangeStadard-menu {
  display: flex;
  margin-top: 10px;
}

.ActiveMenu-label {
  font-weight: 600;
  font-size: 30px;
  margin-right: 10px;
  font-style: italic;
}

.Pending-orders {
  margin-top: 30px;
  border-radius: 4px;
  border: 1px solid #BFB8CC;
  border-radius: 4px;
  padding: 6px 22px;
  background-color: inherit;
  font-weight: 600;
}

.current-details {
  font-weight: 600;
  font-size: 20px;
  font-style: oblique;
  margin-bottom: 10px;
}

.Current-text{
  margin-left: 10px;
  margin-bottom: 10px;
}

.edit-details {
  margin-top: 20px;
  font-weight: 600;
  font-size: 20px;
  font-style: oblique;
  margin-bottom: 10px;
}

.Editing {
  display: flex;
}

.Back {
  margin-top: 20px;
  font-weight: 500;
  font-size: medium;
}

.AddMenu-name{
  margin-bottom: 30px;
}

.AddMenu-button{
  margin-bottom: 30px;
}

.AddMenuItem-name{
  margin-bottom: 10px;
  margin-right: 10px;
}

.AddMenuItem-price{
  margin-bottom: 10px;
  margin-right: 10px;
}
