.Myorders-title{
  font-weight: 600;
  font-size: 35px;
  color:#F67280;
  margin-top: 30px;

}


.MenuItem-name {
  margin-left: 10px;
  font-size: 24px;
  width: 175px;
}


.MenuItem-descHead {
  margin-left: 30px;
  font-size: 32px;
  width: 150px;
  font-weight: 500;
  font-style: oblique;
  color:rgb(208, 211, 16);
}

.MenuItem-desc {
  width: 150px;
  margin-left: 30px;
}


.MenuItem-price {
  font-size: 24px;
  width: 100px;
  text-align: center;
}

.MenuItem-priceHead {
  font-size: 32px;
  font-weight: 400;
  font-style: italic;
  margin-left: 30px;
  width: 100px;
  color:#F8B195;
}
.MenuItem-quantityHead {
  font-size: 32px;
  margin-left: 20px;
  font-weight: 400;
  font-style: italic;
  width: 100px;
  color:rgb(208, 211, 16);
}
.MenuItem-quantity {
  text-align: center;
  font-size: 24px;
  width: 50px;

}

.MenuItem-nameHead {
  font-size: 32px;
  font-weight: 400;
  width: 175px;
  font-style: oblique;
  color:rgb(208, 211, 16);
  text-align: left;

}

.Table {
  width: 100%;
}


.Order-bold {
  font-weight: 600;
  font-size: 24px;
  margin-left: 20px;
  margin-top: 30px;

}

.Order-name{
  font-size: 24px;
  margin-top: 30px;
  margin-right: 80px;
}

.Order-deliver{
  text-align:left;
}
