.MenuPage {
  margin-top: 60px;
}


.Menu-item {
  display: flex;
  margin-bottom: 10px;
}



.AddMenuItem-button{
  font-size:14px;
  color:#FFFFFF ;
  background-color:#48BB78 ;
  border:1px solid transparent;
  padding:6px 22px;
  border-radius:4px;}
