.MenuPage {
  margin-top: 60px;
}

.Menu-item {
  display: flex;
  margin-bottom: 10px;
}

.Order-User{
  display: flex;
}

.AddMenuItem-button{
  margin-top: 10px;
  font-weight: 500;
  margin-left: 10px;
  font-size: medium;}

  .Delivery-info{
    font-weight: 550;
  font-style: italic;
  color: black;
  margin-bottom: 20px;
  font-size: 30px;
  }

  .Not-delivered {
    display: flex;
    margin-top: 20px;
  }

  .GoBack {
    margin-left: 80px;
    font-weight: 500;
    font-size: medium;
    color: black;
    border-radius: 4px;
    height: 30px;
  }

  .Order-details{
    margin-top: 50px;
  }

  .Cart-total{
    font-size: 24px;
    font-style: italic;
    font-weight: 800;
    margin-top: 50px;
  }
