.MenuPage {
  margin-top: 60px;
}

.Menu-item {
  display: flex;
  margin-bottom: 10px;
}

.AddMenuItem-button{
  margin-top: 10px;
  font-weight: 500;
  margin-left: 10px;
  font-size: medium;}

  .Delivery-info{
    font-weight: 550;
  font-style: italic;
  color: black;
  margin-bottom: 15px;
  font-size: 30px;
  }
