.ReportPage {
  margin-top: 60px;
}

.From-date{
  font-family:OpenSans;
  padding:6px 8px;
  font-size:14px;
  color:#726A7E;
  margin-right: 30px;
  width:130px;
  border-radius:4px;
  border:1px solid #BFB8CC;
  margin-bottom: 30px;
  margin-left: 10px;
}

.To-date{
  font-family:OpenSans;
  padding:6px 8px;
  font-size:14px;
  color:#726A7E;
  margin-left: 10px;
  border-radius:4px;
  border:1px solid #BFB8CC;
  margin-bottom: 30px;
}

.Customer-id{
  margin-right:50px;

}

.ID-input {
  width:40px;
}

.Invoice-allOrder{
  margin-left: 100px;
  font-size:16px;
}

.Invoice-order {
  margin-left: 30px;
}
.Invoice-title {
  font-weight: 600;
  font-size: 32px;
  margin-top: 30px;
}
.Order-idHead {
  font-size: 20px;
  font-weight: 600;
  margin-right: 20px;
  width: 100px;
}
.OrderItems-head {
  font-size: 20px;
  font-weight: 600;
  margin-left: 20px;
  width:100px;
}

.Order-valueHead {
 font-size: 20px;
  font-weight: 600;
  margin-left: 20px;
  width:100px;
}


.OrderedUser-nameHead {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 600;
  margin-right: 10px;
  width: 150px;
}


.Order-id {
  font-size: 20px;
  font-weight: 500;
  margin-right: 20px;
  width: 100px;
}

.Order-value {
 font-size: 20px;
  font-weight: 500;
  margin-left: 20px;
  width:100px;
}

.OrderItems {
  font-size: 20px;
  font-weight: 500;
  margin-left: 20px;
  width:100px;
}

.OrderedUser-name {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 500;
  margin-right: 10px;
  width: 150px;
}

.Invoice-info {
  height: 25px;
  margin-left: 40px;
  visibility: hidden;
}

.Invoice-item {
  display: flex;
  margin-bottom: 15px;
}

.Invoice-button{
  display: flex;
  margin-bottom: 40px;

}

.Invoice-item:hover {
  background-color:#F1EDF7;
}

.Invoice-item:hover .Invoice-info {
  visibility: visible;
}

.Invoice-items {
  margin-top: 30px;
}

.NoBills-message {
  margin-top: 100px;
  font-weight: 800;
  font-size: 24px;
}
