.ReportPage {
  margin-top: 60px;
}

.From-date{
  font-family:OpenSans;
  padding:6px 8px;
  font-size:14px;
  color:#726A7E;
  margin-right: 30px;
  border-radius:4px;
  border:1px solid #BFB8CC;
  margin-bottom: 30px;
  margin-left: 10px;
}

.To-date{
  font-family:OpenSans;
  padding:6px 8px;
  font-size:14px;
  color:#726A7E;
  margin-left: 10px;
  border-radius:4px;
  border:1px solid #BFB8CC;
  margin-bottom: 30px;
}

.Custumer-id{
  width:200px;
}

.View-Order{
  margin-left: 50px;
}
