.NewUsers-title{
  margin-bottom: 40px;
  font-size: 60px;
}

.User-info-title {
  font-weight: 600;
  font-size: 32px;
  color: rgb(26, 23, 23);
  margin-bottom: 0px;
}

.UserPage{
  margin-top: 60px;
}

.User-info-section{
  margin-top: 40px;
}

.Form-section {
  margin-bottom: 30px;
}

.Form-input {
  font-size: 20px;
  padding: 8px;
}

.FormInput-label {
  color: #555555;
  margin-bottom: 8px;
  font-weight:800;
  font-size: 24px;
}

.Form-submit {
  font-size: 20px;
  padding: 20px;
  background-color: green;
  color: black;
  border: 0;
  border-radius: 8px;

}

.User-attribute-heading{
  font-weight: 500;
  font-size: 15px;
  margin-left: 50px;
}

.User-attribute{
  font-weight: 400;
  font-size: 15px;
}

.User-name {
  margin-left: 10px;
  font-size: 20px;
  margin-right: 10px;

}

.User-email {
  margin-left: 10px;
  font-size: 24px;
}

.User-item {
  display: flex;
}

.User-bold {
  font-weight: 600;
  font-size: 24px;
  margin-left: 20px;
}

.User-title {
  font-weight: 550;
  font-style: italic;
  color: black;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 30px;
}

.User-item:hover {
  background-color:  #F1EDF7;
}
.User-item:hover .UserItem-delete {
  visibility: visible;
}

.UserItem-delete {
  visibility: hidden;
  margin-left: 8px;
  height: 24px;
}
